 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .nav{
   display: flex;
   justify-content: space-around;
   background-color: blueviolet;
   padding: 15px;
 }
 .nav-list a{
   padding: 0 10px;
   color: #fff;
   font-size: 20px;
   text-decoration: none;
 }
 .active_class{
   border-bottom: 3px solid burlywood;
 
 }